In [1]:
import numpy as np
import pandas as pd

In [2]:
!pip install simplet5 -q

In [3]:
from simplet5 import SimpleT5

Global seed set to 42

In [4]:
model=SimpleT5()
model.from_pretrained(model_type="t5",model_name="t5-base")

In [7]:
model.load_model("t5",r"C:\Users\91854\OneDrive\Desktop\self\Smart_Notes\hindi_trained_model\content\outputs\simplet5-epoch-4-train-loss-0.4623-val-loss-0.5281",use_gpu=False)

In [35]:
df=pd.read_json(r"C:\Users\91854\OneDrive\Desktop\self\Smart_Notes\hindi_trained_model\hindi_transcript.json")

In [36]:
df=df.rename(columns={0:"text"})
df=df["text"]
df

0
1                                      इस समूह की बात है
10     मेरा नहीं राजा का आदेश है जिस पर हम सबको सहमत ...
100    क्या कोई पीड़ा सभी होता है जिसकी पति मौके पर र...
101    ऐसे पागल आदमी को हम कर वसूली के काम पर नहीं लग...
                             ...
95                     अब लालची कलंदर बड़ा परेशान हो गया
96                                              उसने कहा
97     महाराज मुझे क्षमा करें इसमें मेरी गलती नहीं है...
98     राजा को उसकी बात सुनकर बहुत गुस्सा आया राजा ने...
99        यह तो बिल्कुल ही पागलों की तरह बातें कर रहा है
Name: text, Length: 140, dtype: object

In [37]:
l=[]
s=""
for i in range(len(df)):
    if(i%18==0 and i!=0):
        s=s+df[i]+"\n"
        l.append(s)
        s=""
        for j in range(4):
            s=s+df[i+j-5]+"\n"
    s=s+df[i]+"\n"

In [54]:
df1=pd.DataFrame(l)
df1=df1.rename(columns={0:"text"})
df1["text"]="summarize:"+df1["text"]
for i in df1["text"]:
    i.replace("\n","|")
# df1["text"].replace("\n","|")
df1

                                                text
0  summarize:\nइस समूह की बात है\nबहुत खूबसूरत रा...
1  summarize:अगर कर नहीं लिया तो अपना घर कैसे करू...
2  summarize:उसने गांव वाले और अपने पिताजी की बात...
3  summarize:आदमी पेड़ का नाम सुनकर डर बड़ा खुश ह...
4  summarize:इससे पहले की दिशांत कुछ कहता लालची क...
5  summarize:क्योंकि उन्हें डर था कि कहीं वह उनसे...
6  summarize:हर इसके बाद लालची कैलेंडर सारी जिंदग...

In [55]:
summary_output=[]
for i in df1["text"]:
    summary_output=summary_output+model.predict(i)

In [57]:
summary_output

['           ',
 '           ',
 '           ',
 '           ',
 '           ',
 '           ',
 '           ']

In [58]:
summary=""
for i in summary_output:
    summary=summary+i
print(summary)

'                                                                  '